body {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: rgb(113, 34, 34);
    background-color: rgba(103, 28, 28, 0.395);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(69, 19, 19);
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;

}
button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}
#result ul {
    list-style-type: none;
    padding: 0;
}
#result ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 60%;
}